body {
    margin: 0;
    padding: 0;
}
.App {
    width: 90%;
    margin: auto;
}
.redSpan {
    color: red;
    font-style: italic;
}
.Route {
    margin-top: 8%;
    min-height: 80vh;
}
@media all and (max-width: 900px) {
    .App {
        width: 98%;
    }
   }